---
import DisplayCard from "../components/DisplayCard.astro";
import { getCollection } from "astro:content";

const experiences = await getCollection("experience");
---
<section class="experience card-container" id="experience">
  <div class="sectionTitle">EXPERIENCE</div>
  {experiences.map(item => (
    <DisplayCard
      displayName = {item.data.displayName}
      displayTime = {item.data.displayTime}
      displayLink = {item.data.displayLink}
      displayIntro = {item.body}
      displaySkills = {item.data.displaySkills} 
    />
  ))}
</section>
