---
import DisplayCard from "../components/DisplayCard.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---
<section class="projects card-container" id="projects">
  <div class="sectionTitle">PROJECTS</div>
  {projects.map(item => (
    <DisplayCard
      displayName = {item.data.displayName}
      displayImg = {item.data.displayImg}
      displayLink = {item.data.displayLink}
      displayIntro = {item.body}
      displaySkills = {item.data.displaySkills} 
    />
  ))}
</section>

<style>
  .projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: var(--spacing-xl);
  }
</style>